apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: provisionedservices.bindings.projectriff.io
  labels:
    bindings.projectriff.io/release: devel
    bindings.projectriff.io/crd-install: "true"
spec:
  group: bindings.projectriff.io
  version: v1alpha1
  names:
    kind: ProvisionedService
    plural: provisionedservices
    singular: provisionedservice
    categories:
      - all
  scope: Namespaced
  subresources:
    status: {}
  additionalPrinterColumns:
    - name: Ready
      type: string
      JSONPath: ".status.conditions[?(@.type=='Ready')].status"
    - name: Reason
      type: string
      JSONPath: ".status.conditions[?(@.type=='Ready')].reason"